@import "color";
@import "variables";
@import "animation";

@import "base";
@import "navbar";
@import "home";
@import "product-detail";
@import "packager";
@import "news";
@import "contact";

.container-responsive {
  position: relative;
  height: calc(100% - 120px);
  overflow: auto;
}