$color-1: #f5897e;
$color-2: #bb534b;
$color-3: #f15e5e;
$color-4: #f48284;
$color-5: #d02038;
$color-6: #9e1c35;
$color-7: #a51f22;
$color-8: #c83c2a;
$color-9: #9c1d2a;
$color-10: #7e1325;
$color-old: lighten(#2a0505, 20%); //#851010
$primary: #852828;
$text-color: white;