.main-brands {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0;
  background: rgba($primary, 0.75);
  height: 200px;

  .address {
    margin: auto;
    text-align: center;
    color: $text-color;

    h1 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 15px 0 5px;
    }

    p {
      margin: 0;
      font-size: 12px;
      color: rgba(white, 0.75);
    }

    span, a {
      font-size: 12px;
      color: rgba(white, 0.75);
      margin: 0 5px;

      &.divine {
        border-right: 1px solid rgba(white, 0.8);
      }
    }

    .fa {
      margin-right: 5px;
    }
  }
}

#brands-slide {
  position: relative;
  margin: auto;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin: 0 5px;

      a {
        position: relative;
        display: block;

        &:before {
          content: "";
          @include flex-box(5px, 5px, 5px, 5px);
          @extend .animate-ease-out;
          background: transparent;

        }

        &:hover {
          &:before {
            background: rgba(white, 0.3);
          }
        }
      }

      img {
        height: 90px;
        border: 5px solid $primary;
      }
    }
  }
}