nav {
  &.navbar-default {
    background: $primary;
    min-height: 120px;
  }

  .navbar-brand {
    padding: 0 15px;
    height: 120px;
    display: flex;
    align-items: center;
    img {
      height: 90px;
    }
  }

  .navbar-right {
    .main-menu {
      padding-right: 30px;
      height: 120px;
      display: flex;
      align-items: center;

      .item {
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        color: $text-color;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;

        @extend .animate-ease-out;

        &:hover {
          opacity: 0.5;
        }

        a {
          color: $text-color;
          text-decoration: none;
        }

        > .fa {
          margin-left: 5px;
        }
      }

      .divine {
        height: 22px;
        border-right: 1px solid rgba(255, 255, 255, .2);
      }
    }
  }
}