nav {
  &.navbar-default {
    background: $primary;
    min-height: 120px;
  }

  .navbar-brand {
    padding: 0 15px;
    height: 120px;
    display: flex;
    align-items: center;
    img {
      height: 90px;
    }
  }

  .navbar-right {
    .main-menu {
      padding-right: 30px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .item {
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        color: $text-color;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
          > a {
            opacity: 0.5;
          }
        }

        > a {
          @extend .animate-ease-out;
          color: $text-color;
          text-decoration: none;
        }

        > .fa {
          margin-left: 5px;
        }
      }

      .divine {
        height: 22px;
        border-right: 1px solid rgba(255, 255, 255, .2);
      }

      .dropdown {
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }

        &-menu {
          display: none;
          opacity: 1;
          right: auto;
          min-width: 200px;
          padding: 10px 0;
          background: darken($primary, 5%);
          box-shadow: 0 0 10px rgba(0, 0, 0, .5);
          border: 1px solid lighten($primary, 15%);
          @extend .fade-in;

          &:before {
            content: "";
            position: absolute;
            bottom: 100%;
            left: calc(50% - 3px);
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom: 6px solid lighten($primary, 15%);
          }

          a {
            letter-spacing: 1px;
            text-transform: none;
            font-size: 12px;
            padding: 5px 15px;
            color: $text-color;
            background: none;
            @extend .animate-ease-out;

            &:hover {
              opacity: .5;
            }

            > .fa {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}