#news-list {
  .item {
    color: $text-color;
    background: $primary;
    margin: 15px 0;
    padding: 15px;

    .media {
      &-left {
        width: 30%;

        img {
          width: 100%;
        }
      }
    }
  }
}