#packager {
  position: relative;
  height: calc(100% - 120px);
  overflow: auto;

  .item {
    margin: 15px 0;

    img {
      width: 100%;
      border: 5px solid darken($primary, 20%);
    }
  }
}