.product-detail-inner {
  padding: 15px 15% 40px;
}

.product-detail {
  background: $primary;
  color: $text-color;
  padding: 24px;

  .title {
    margin: 0 0 25px;
    font-size: 31px;
  }

  .list-child {
    padding: 0;
    margin: 0;

    li {
      float: left;
      padding: 0;

      &:after {
        content: '|';
        float: right;
        margin: 0 7px;
        height: 16px;
      }

      &:last-child:after {
        content: '';
      }

      &.active {
        a {
          color: $text-color;
        }
      }
    }

    a {
      color: rgba($text-color, 0.5);
      font-weight: bold;
      text-decoration: none;
      @extend .animate-ease-out;

      &:hover {
        color: $text-color;
      }
    }
  }

  .content {
    display: flex;

    .description {
      width: 50%;

      em {
        font-style: italic;
      }
    }

    .image {
      width: 50%;
      display: flex;
      justify-content: center;
      position: relative;

      img.original {
        max-width: 100%;
        max-height: 400px;
        animation: move-slow 3s;
      }
    }
  }
}

@keyframes move-slow {
  0% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

#product-detail {
  background: url('../../assets/img/bg-2.jpg') center;
  background-size: cover;
}