#product-list {
  background: url('../../assets/img/bg-1.jpg') center;
  background-size: cover;

  .container {
    padding: 10px;
  }

  [class^="col-"] {
    padding: 10px;
  }

  .item-inner {
    background: url('../../assets/img/product-bg.jpg');
    background-size: cover;
    max-height: 232px;
    display: flex;

    .pic {
      width: 40%;
      flex-shrink: 0;
      padding: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: scale(1.5) rotate(10deg);
      }
    }

    .info {
      width: 100%;
      color: white;
      padding: 15px 15px 15px 0;
      position: relative;

      .title {
        margin-bottom: 10px;
        padding-bottom: 7px;
        border-bottom: 1px dashed rgba(lighten($primary, 10%), 0.5);

        a {
          font-size: 16px;
          text-transform: uppercase;
          color: white;
          font-weight: 700;
          text-decoration: none;
          @extend .animate-ease-out;

          &:hover {
            color: lighten($primary, 10%);
          }
        }
      }

      .description {
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        height: 95px;
        overflow: hidden;
      }

      .price {
        position: absolute;
        bottom: 15px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
      }
    }
  }
}