$positions: top left right bottom;
$numbers: 0 5 10 15;

@each $position in $positions {
  @each $num in $numbers {
    .padding-#{$position}-#{$num} {
      padding-#{$position}: #{$num}px !important;
    }

    .padding-#{$num} {
      padding: #{$num}px !important;
    }

    .margin-#{$position}-#{$num} {
      margin-#{$position}: #{$num}px !important;
    }

    .margin-#{$num} {
      margin: #{$num}px !important;
    }

  }
}

@mixin vendor($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin flex-box($top, $left, $bottom, $right) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin css3-calc($property, $operation) {
  #{$property}: -moz-calc(#{$operation});
  #{$property}: -webkit-calc(#{$operation});
  #{$property}: calc(#{$operation});
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: 0 !important;
}

.font-xs {
  font-size: 85% !important
}

.font-sm {
  font-size: 95% !important
}

.font-md {
  font-size: 130% !important
}

.font-lg {
  font-size: 160% !important
}

.font-xl {
  font-size: 200% !important
}

.font-normal {
  font-weight: normal !important;
}

.semi-bold {
  font-weight: 400 !important
}

.ultra-light {
  font-weight: 300 !important
}

.inline-block {
  display: inline-block !important;
}

.pretty-scroll {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: none;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 5px;
  }
}

.center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}